/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

$lato:'Lato', sans-serif;
$raley: 'Raleway', sans-serif;

$tablet: "(min-width: 768px)";
$phone: "(min-width: 576px)";
$desktop: "(min-width: 992px)";
$large: "(min-width: 1200px)";
$lesstablet: "(max-width: 769px)";
$lessdesk: "(max-width: 991px)";
